<div class="fundo-preto">
  <p>Welcome to Jujuba's drink!</p>
  <%= cl_image_tag("conjunto-cocktail", class:"w-100") %>
  <div class="container">
    <%= link_to "Create your own Cocktail", new_cocktail_path %>




  </div>
</div>
